/* _-_-_- base/BASE -_-_-_ */
@charset 'utf-8';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.red-bg {
  background-color: $red;
}
.green-bg {
  background-color: $green;
}
.orange-bg {
  background-color: $light-orange;
}
.lightgreen-bg {
  background-color: #38be90;
}

.orange {
  color: $light-orange;
}

.white {
  color: $white;
}
