/* FONT STYLING VARIABLES*/
$oxygen:    Oxygen, sans-serif;

$small-text: 0.5rem;
$medium-small-text: 0.7rem;
$normal-text: 1rem;
$medium-large-text: 1.2rem;
$large-text: 1.5rem;
$huge-text: 2rem;
$massive-text: 5rem;

/* END FONT STYLING VARIABLES */
/*****************************************************************/
/* COLOR VARIABLES */

$red: #DD5B46;
$green: #4BE8D8;
$light-orange: #F1B052;
$dark-orange: #C57810;
$grey: #737373;
$light-grey: #9B9B9B;
$faded-grey: rgba(150,150,150, 0.2);
$black: #000;
$white: #FFF;

/* END COLOR VARIABLES */
/*****************************************************************/

/* PADDING AND MARGIN */

$small-padding: 0.5rem;
$medium-small-padding: 0.7rem;
$normal-padding: 1rem;
$medium-large-padding: 1.2rem;
$large-padding: 2rem;
$huge-padding: 3rem;
$massive-padding: 4rem;
$ludicrous-padding: 5rem;

$min-margin: 0.2rem;
$small-margin: 0.5rem;
$medium-small-margin: 0.7rem;
$normal-margin: 1rem;
$medium-large-margin: 1.2rem;
$large-margin: 2rem;
$huge-margin: 3rem;
$massive-margin: 4rem;
$ludicrous-margin: 5rem;

/* END PADDING AND MARGIN */

/* BUTTONS */

$small-radius: 0.5rem;
$medium-small-radius: 0.7rem;
$normal-radius: 1rem;
$medium-large-radius: 1.2rem;
$large-radius: 2rem;
$huge-radius: 3rem;
$massive-radius: 4rem;

/* END BUTTONS */

/* LINE HEIGHT */

$small-line-height: 0.5rem;
$medium-line-height: 0.7rem;
$normal-line-height: 1rem;
$medium-line-height: 1.7rem;
$large-line-height: 2rem;
$huge-line-height: 3rem;
$massive-line-height: 4rem;

/* END LINE HEIGHT */

/* BORDER */

$min-border-width: 0.5px;

/* END BORDER */
