/*PADDING*/

.p-1 {
  padding: $normal-padding;
}
.p-2 {
  padding: $medium-large-padding;
}
.p-3 {
  padding: $large-padding;
}
.p-4 {
  padding: $huge-padding;
}
.p-5 {
  padding: $massive-padding;
}

.pl-1 {
  padding-left: $normal-padding;
}
.pl-2 {
  padding-left: $medium-large-padding;
}
.pl-3 {
  padding-left: $large-padding;
}
.pl-4 {
  padding-left: $huge-padding;
}
.pl-5 {
  padding-left: $massive-padding;
}

.pt-1 {
  padding-top: $normal-padding;
}
.pt-2 {
  padding-top: $medium-large-padding;
}
.pt-3 {
  padding-top: $large-padding;
}
.pt-4 {
  padding-top: $huge-padding;
}
.pt-5 {
  padding-top: $massive-padding;
}

.pr-1 {
  padding-right: $normal-padding;
}
.pr-2 {
  padding-right: $medium-large-padding;
}
.pr-3 {
  padding-right: $large-padding;
}
.pr-4 {
  padding-right: $huge-padding;
}
.pr-5 {
  padding-right: $massive-padding;
}

.pb-1 {
  padding-bottom: $normal-padding;
}
.pb-2 {
  padding-bottom: $medium-large-padding;
}
.pb-3 {
  padding-bottom: $large-padding;
}
.pb-4 {
  padding-bottom: $huge-padding;
}
.pb-5 {
  padding-bottom: $massive-padding;
}


/*END PADDING*/

/* MARGIN */

.m-1 {
  margin: $normal-margin;
}
.m-2 {
  margin: $medium-large-margin;
}
.m-3 {
  margin: $large-margin;
}
.m-4 {
  margin: $huge-margin;
}
.m-5 {
  margin: $massive-margin;
}

.ml-1 {
  margin-left: $normal-margin;
}
.ml-2 {
  margin-left: $medium-large-margin;
}
.ml-3 {
  margin-left: $large-margin;
}
.ml-4 {
  margin-left: $huge-margin;
}
.ml-5 {
  margin-left: $massive-margin;
}

.mt-1 {
  margin-top: $normal-margin;
}
.mt-2 {
  margin-top: $medium-large-margin;
}
.mt-3 {
  margin-top: $large-margin;
}
.mt-4 {
  margin-top: $huge-margin;
}
.mt-5 {
  margin-top: $massive-margin;
}

.mr-1 {
  margin-right: $normal-margin;
}
.mr-2 {
  margin-right: $medium-large-margin;
}
.mr-3 {
  margin-right: $large-margin;
}
.mr-4 {
  margin-right: $huge-margin;
}
.mr-5 {
  margin-right: $massive-margin;
}

.mb-1 {
  margin-bottom: $normal-margin;
}
.mb-2 {
  margin-bottom: $medium-large-margin;
}
.mb-3 {
  margin-bottom: $large-margin;
}
.mb-4 {
  margin-bottom: $huge-margin;
}
.mb-5 {
  margin-bottom: $massive-margin;
}


/* END MARGIN */
